{
	"*.{ts,tsx}": ["balena-lint --fix -f tslint.json"],
	"package-lock.json": [
		"npm dedupe",
		"git diff --exit-code -- package-lock.json || echo \"Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib\""
	]
}
