name: Flowzone

on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - 'master'
      - 'main'

permissions:
  id-token: write
  contents: read
  packages: read

jobs:
  flowzone:
    name: Flowzone
    uses: product-os/flowzone/.github/workflows/flowzone.yml@master
    secrets: inherit
    with:
      cloudflare_website: balena-design-system
      docusaurus_website: false
